<div class="container">

  <h2>Apply:</h2>
  <br>
  <form action="/visit" method="POST" role="form">

    <div class="form-group">
      <label>Your name</label>
      <input name="username" type="text" class="form-control" placeholder="Name" value=<%=@username%>>
    </div>

    <div class="form-group">
      <label>Contact phone number</label>
      <input name="phone" type="text" class="form-control" placeholder="Phone" value=<%=@phone%>>
    </div>

    <div class="form-group">
      <label>Time of visit</label>
      <input name="time" type="text" class="form-control" placeholder="Time" value=<%=@time%>>
    </div>

    <div class="form-group">
      <label>Choose the master:</label>
      <select name="master" class="form-control">
        <option>Jessie Pinkman</option>
        <option>Walter White</option>
        <option>Gus Frin</option>
      </select>
    </div>

    <div>
      <select id="color" name="color">
        <option value="#7bd148">Green</option>
        <option value="#5484ed">Bold blue</option>
        <option value="#a4bdfc">Blue</option>
        <option value="#46d6db">Turquoise</option>
        <option value="#7ae7bf">Light green</option>
        <option value="#51b749">Bold green</option>
        <option value="#fbd75b">Yellow</option>
        <option value="#ffb878">Orange</option>
        <option value="#ff887c">Red</option>
        <option value="#dc2127">Bold red</option>
        <option value="#dbadff">Purple</option>
        <option value="#e1e1e1">Gray</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  <script type="text/javascript">
  $('#color').simplecolorpicker();
  </script>
</div>
